* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Rose", cursive;
  }
  body {
    /* height: ; */
    /* width: 100vh; */
  
    background-image: url(/Project_2/imgaes/bg.png);
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
  /* ------------------------------ */
  /* ---------- NAVBAR ------------ */
  /* ------------------------------ */
  .navbar div img {
    margin-left: 30px;
    width: 150px;
    height: 35px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .list {
    display: flex;
  }
  .navbar ul li {
    list-style: none;
    padding: 0 10px 0 10px;
    color: #edc126;
  }
  .button-small {
    background-color: #ef5354;
    width: 100px;
    height: 40px;
    border: none;
    color: whitesmoke;
    margin-right: 100px;
  }
  
  /* ------------------------------ */
  /* ---------- HERO ------------ */
  /* ------------------------------ */
  .hero {
    color: #edc126;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
  }
  .button-large {
    background-color: #ef5354;
    width: 150px;
    height: 40px;
    border: none;
    color: whitesmoke;
    margin-right: 100px;
  }
  .bottom {
    position: relative;
    margin-left: 1100px;
    margin-right: 100px;
  }
  